html {
  font-family: "Source Sans Pro", Arial, sans-serif;
  padding: 0px;
}
body,
h2,
h4,
p {
  padding: 0px;
  margin: 0px;
}
.nopad {
  padding: 0;
}
.popular_section {
  margin: 16px;
}
.cards_container {
  display: flex;
  flex-flow: row wrap;
}
.img {
  height: calc(150px * 1.5);
  min-height: calc(150px * 1.5);
  width: 150px;
}
.card_style {
  margin: 16px 16px 16px 0px;
}
.poster {
  height: 100%;
  width: 100%;
  border-radius: 16px;
}
